<div>
    <div class="row mb-2 mt-3">
        <div *ngFor="let pet of this.data" class="col-md-6">

            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{pet.type}}</strong>
                    <h3 class="mb-0">
                      {{pet.name}}
                    </h3>
                    <div class="mb-1 text-muted">{{pet.date_of_birth}} Age : {{pet.age}}</div>

                    <!-- gren -->
                    <div *ngIf="pet.client_pet == null" class="mb-1text-success adoptame" >Adoptame</div>
                    <div *ngIf="pet.client_pet != null" class="mb-1 text-danger adoptado">Adoptado</div>

                    <!-- button to delete -->
                    <div *ngIf="confirmation == true" class="card-link">
                        <button class="btn btn-danger" (click)="deletePet(pet.id)">Delete</button>
                        <!-- edit -->
                        <button class="btn btn-warning" [routerLink]="['/',{ outlets: {body: ['postPets'] } }]" >Edit</button>

                    </div>
                    <!-- button to add -->
                    <div *ngIf="confirmation == false && sesionId !== -1 && pet.client_pet == null" class="card-link">
                        <button class="btn btn-success" (click)="addPet(pet.id)">Add</button>
                    </div>

                    
                </div>
            </div>

        </div>
    </div>
</div>