.content{
    width: 100wh;
    height: 100vh;
}

.form-control{
    margin-bottom: 20px;
}

.button{
    text-align: center;
}

.formPet{
    margin-top: 5%;
    /* center input inside */
    display: flex;
    flex-direction: column;
    align-items: center;


    
}

.imagePet{
    width: 100%;
    height: 61%;
    margin-top: 11%;


}

.formInput{
    border-right: 4px solid #fcf7f2;
    border-bottom: 4px solid #fcf7f2;
    border-top: 4px solid #fcf7f2;
    border-radius: 25px;


}

.buttonEnviar{

    background-color: #f0bf8e;
    border: 1px solid #f0bf8e;
    color: white;
}
.buttonEnviar:hover{
    background-color: #f1b4b4;
    border: 1px solid #f1b4b4;
    color: white;
}

